@font-face {
    font-family: 'neue_montrealregular';
    src: url('../fonts/neuemontreal-regular-webfont.eot');
    src: url('../fonts/neuemontreal-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
        url('../fonts/neuemontreal-regular-webfont.woff') format('woff'),
        url('../fonts/neuemontreal-regular-webfont.ttf') format('truetype'),
        url('../fonts/neuemontreal-regular-webfont.svg#neue_montrealregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neue_montreal_regular';
    src: url('../fonts/NeueMontreal-Medium.eot');
    src: url('../fonts/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../fonts/NeueMontreal-Medium.woff') format('woff'),
        url('../fonts/NeueMontreal-Medium.ttf') format('truetype'),
        url('../NeueMontreal-Medium.svg#NeueMontreal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Silver South Script Alt';
    src: url('../SilverSouthScriptAlt.eot');
    src: url('../SilverSouthScriptAlt.eot?#iefix') format('embedded-opentype'),
        url('../SilverSouthScriptAlt.woff2') format('woff2'),
        url('../SilverSouthScriptAlt.woff') format('woff'),
        url('../SilverSouthScriptAlt.ttf') format('truetype'),
        url('../SilverSouthScriptAlt.svg#SilverSouthScriptAlt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





html,
body {
    font-family: 'neue_montrealregular';
    color: #000;
    margin: 0px 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    margin-top: 5rem;
    margin-right: 0px;
    font-weight: normal;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 1em;
    margin-top: 0;
}

.regular {
    font-family: 'neue_montreal_regular';
    font-weight: 500;
}

.new-spirit-regular {
    font-family: "new-spirit", serif;
    font-weight: 400;
    font-style: normal;
}



.new-spirit-medium {
    font-family: "new-spirit", serif;
    font-weight: 500;
    font-style: normal;
}

P {
    font-size: 17px;
    line-height: 140%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 0;
    margin-bottom: 1em;
    display: block;
    color: #000;
    font-weight: normal;
}

.text-right {
    text-align: right;
}

ul.project-list {
    list-style-type: none;
    padding: 0 24px;
    text-align: center;
}

ul.project-list li a {
    text-decoration: none;
    font-size: 50px;
    margin: 1.5rem 0;
    display: block;
    color: #000;
}

.case-meta p {
    margin-top: 0;
    font-size: 17px;
}


ul.project-list li a {
    text-decoration: none;
    font-size: 24px;
    margin: 1.5rem 0;
    display: block;
    color: #000;
}

.project-number {
    font-size: 24px;
    margin-right: 16px;
    color: #2175DC
}


@media(min-width:426px) {
    h1 {
        font-size: 24px;
        margin-right: 0px;
    }

    ul.project-list li a {
        text-decoration: none;
        font-size: 28px;
        margin: 1.5rem 0;
    }

   
}

@media(min-width:768px) {

    h1 {
        font-size: 32px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        margin-right: 0px;
        font-weight: normal;
    }


    h4 {
        font-size: 36px;
        line-height: 38px
    }

    P {
        font-size: 18px;
    }


    ul.project-list li a {
        text-decoration: none;
        font-size: 50px;
        margin: 1.5rem 0;
    }
}

@media(min-width:993px) {
    h1 {
        font-size: 38px;
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-weight: normal;
        margin-right: 150px;
    }


    P {
        font-size: 20px;
    }


}